doctype html
head
  meta(charset='UTF-8')
  title Modern Smartphone Sellers
  link#stylesheet(rel='stylesheet', type='text/css', href='/css/main.css')
  script(defer='', src='/js/main.js')
  script(defer='', src='/js/sale.js')

include navigation.pug

span#sale
h1 Modern Smartphone Sellers
h2 Buy very cheap quality phones!
img(alt='Many modern quality phones on a nice sturdy table', src='/images/Apple-iPhone-15.jpg')
// <img alt="Many modern quality phones on a nice sturdy table"
.pageContent
  p
    | Modern Smartphone sellers offers amazing offers on the latest popular smartphones.
    | Our most popular phone brands are:
  ol
    li iPhone
    li Samsung
    li Pixel
    li OnePlus
    li Xiaomi
  p
    | We have a few stores around the Twin Cities area, with our 
    em flagship
    |  store at the 
    strong MOA
    | .
    |                 Come visit us any day to buy your brand new smartphone!





