.nav_links
    a(href='http://localhost:4131/main') Home Page
    a(href='http://localhost:4131/contact') Contact us
    a(href='http://localhost:4131/testimonies') Testimonials
    a(href='http://localhost:4131/admin/contactlog') Contacts List
    button#toggle Mode