doctype html
head
  meta(charset='UTF-8')
  title Order a phone
  link#stylesheet(rel='stylesheet', href='/css/main.css')
  script(defer='', src='/js/main.js')

include navigation.pug
h1 Order a phone
p.confirmation Your order has been received!
