doctype html
head
  meta(charset='UTF-8')
  title Order a phone
  link#stylesheet(rel='stylesheet', href='/css/main.css')
  script(defer='', src='/js/main.js')
.nav_links
  ul
    li
      a(href='http://localhost:4131/main') Home Page
    li
      a(href='http://localhost:4131/contact') Contact us
    li
      a(href='http://localhost:4131/testimonies') Testimonials
    li
      a(href='http://localhost:4131/admin/contactlog') Contacts List
    li
      button#toggle Toggle
h1 Order a phone
p.confirmation Your order has been received!
