doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Order a phone
  link#stylesheet(rel='stylesheet', href='/css/main.css')
  script(defer='', src='/js/main.js')
p.contactError Something went wrong. Ensure you fill out all of the fields correctly
